* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(241, 241, 241);
    font-family: Arial, sans-serif;
}

.main {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.main h1 {
    color: green;
    margin-bottom: 20px;
    font-size: 24px;
}

.username,
.password {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.button {
    background-color: rgb(45, 175, 45);
    color: white;
    border: none;
    padding: 10px 0;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgb(11, 90, 11);
}
.button a {
    text-decoration: none;
    color: aliceblue;
}