* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: rgb(241, 241, 241);
}

.main {
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.sarlavha {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgb(23, 211, 192);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(23, 211, 192);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(86, 230, 163);
}

.login {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.login a {
    color: rgb(23, 211, 192);
    text-decoration: none;
    font-weight: bold;
}